*:not(button):not(input){
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #0a0e14;
	color: #bcceff;
	margin-left: 10%;
	margin-right: 10%;
}
input {
	text-align:center;
	color: #0a0e14;
}
form{
	align-content: center;
	align-items: center;
}
h1,h2,h3,h4,h5,h6{
	padding-top: 0px;
	text-align: center;
}
#nav-header{
	margin-top: 10px;
}